/* Mobile & Tablet */
@media( min-width:1024px){
    .header-mobile{
        display: none !important;
    }
}
/* Mobile & Tablet */
@media( max-width:1023px){
    .header-mobile{
        /* display: none !important; */
    }
}
/* Tablet */
@media(min-width:740px) and (max-width:1023px){
   .header-mobile{
    display: none;
   }
   .menu a {
    font-size: 18px;
    font-weight: 700;
    padding: 0px 6px;
    }
    .form-info input,textarea{
        width: 100%;
    }
}
/* Mobile */
@media(max-width:739px){
    .d-none-mb{
        display: none;
    }
    .f-direction-mb{
        display: flex;
        flex-direction: column;
    }
    .app{
        overflow: hidden;
    }
    .title h2{
        font-size: 18px;
        margin-bottom: 12px !important;
    }
    .header{
        display: none !important;
    }
    .header-mobile{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;
        padding: 18x 8px;
        background-color: #fff;
        display: block;
    }
    .header-mb-container{
        height: 60px;
    }
    .nav-mb{
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 40%;
        padding-top: 26px;
        height: 100%;
        z-index: 99;
        display: none;
    }
    .nav-mb.open{
        display: block;
    }
    .nav-mb a{
        font-size: 1.2rem;
        color: #222222;
        padding: 4px 20px;
        font-weight: 500;
    }
    .nav-mb i{
        font-size: 2rem;
    }
    .over{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none;
        z-index: 99;
    }
    .over.open{
        display: block;
    }
    .mb-close{
        position: absolute;
        top: 0;
        right: 0;
        padding: 4px;
        font-size: 20px;
    }
    .menu-mb i{
        font-size: 2.5rem;
    }
    
    .header-mobile{
        border-bottom: 1px solid #ccc;
    }
    .logo-mb img{
        height: 40px;
    }

    .home-slider{
        margin-top: 60px;
    }
    .swiper{
        margin-top: 12px !important;
    }
    .swiper-container{
        padding: 0;
    }
    .swiper-item{
        padding: 8px 0;
    }
    .contact{
        margin-top: 12px;
    }
    .contact-header{
        margin-bottom: 0;
    }
    .contact-socials li{
        margin-bottom: 0;
    }
    .home-product-item{
        margin-top: 24px;
    }
    .post-card{
        margin-top: 12px;
    }
    .user-mb i{
        font-size: 1.6rem;
    }
    .breadcrumbs{
        margin-top: 60px;
    }
    .footer{
        padding: 24px 12px;
    }
    .product-detail-warp{
        margin: 24px 0;
        padding: 0;
    }
    .checkout{
        width: auto;
    }
    .cart{
        width: auto;
    }
    .cardholder-name, .card-number {
        margin-bottom: 10px;
    }
    .payment-form input {
        padding: 8px 12px;
    }

    /* Contact */
    .contact{}
    .contact h3{
        margin-top: 12px;
    }
    .form-info input,textarea{
        width: 100%;
    }

    /* Footer */
    .footer .contact-header {
        text-align: center;
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .footer-top h3 {
        font-size: 18px;
    }
    .footer-menu li a {
        font-size: 12px;
    }
}